
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h4 class=card-title>Barra de progreso</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso" placeholder="Cantidad de barra proceso" aria-label="Cantidad de barra proceso" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" type="button" (click)="sumar(5)"><i class="mdi mdi-plus"></i></button>
                      <button class="btn btn-outline-danger" type="button"(click)="restar(5)"><i class="mdi mdi-minus"></i></button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>La cantidad de progreso es:....{{progreso}}</h2>
            </div>
        </div>
    </div>
</div>
